<h1> User Dashboard </h1>

<!-- <% if @user.has_contracts? %>  -->

<!-- <p>"You have "#{<%= @user.number_of_contracts %>}"</p> -->

<!-- <% else %> -->

<!-- <p>"Add your first contract"</p> -->

# <% end %> 